@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #000000;
  --background-highlight: #dbdbdb;
  --foreground-disabled: #4e4e4e;
  --highlight-white: #fa4c4c;
  --highlight: #00fff2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), var(--font-atacama), var(--font-carattere), var(--font-anagram);
}
